body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
* {
    word-break: break-all;
    word-wrap: break-word;
}
input[type=file]:hover, 
input[type=checkbox]:hover, 
input[type=radio]:hover,
ins:hover{
    outline: 0;
}
body.nav-fixed{
    position: relative;
    padding-top: 50px;
}
.custom-background {
    background-image: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
/*    background: -webkit-linear-gradient(0deg,#fe5187,#8782c4,#16d4ac);
    background: linear-gradient(90deg,#fe5187,#8782c4,#16d4ac); 
    box-shadow: 0 2px 5px 1px rgba(39,50,58,.3);*/
}
}
a:hover {
    text-decoration: none;
}
a:hover,
a:focus {
    color: #b94a48;
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
}
@media screen and (max-width: 1163px) {
    #if-fixed{
        display: none;
    }
}
/*Navbar*/
.navbar{
    margin-bottom: 0;
    border-radius: 0 !important;
    border:0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0;
}
.navbar-inverse {
    background-color: #2F383E;
    border-color: #2F383E;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.nav>li>a {
    color: #fff!important;
}

.navbar-inverse .navbar-nav>li:focus,
.navbar-inverse .navbar-nav>li:hover {
    background-color: #3B444A;
}
#if-fixed {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #fff;
}
.nav-fixed .fa-thumb-tack{
    color: #0e76a8;
}
.icheckbox {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 16px;
    border: none;
    cursor: pointer;
}

/*Article*/
#bodyer {
    padding-top: 30px
}
.wallpaper {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 30px;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    background-color: #ffffff;
    -webkit-box-shadow: -1px -1px 10px rgb(48, 103, 171);
    -moz-box-shadow: -1px -1px 10px rgb(48, 103, 171);
    box-shadow: -1px -1px 10px rgb(48, 103, 171);
}

.article-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img {
    margin: 1rem auto;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.img:hover {
    border: 1px solid #e74c3c;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.article {
    position: relative;
}

.article-date {
    background-color: #e74c3c;
    border-color: #e74c3c;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    left: 190px;
    top: 50px;
    color: white;
    padding-top: 10px;
    box-shadow: 1px 2px 7px rgb(0, 0, 0);
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.article-date span.month,
.article-date span.day {
    text-align: center;
    display: block;
}

span.month {
    font-size: 16px
}

span.day {
    font-size: 25px
}

.article-title h1 {
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
}

.article-title h1 a:visited {
    text-decoration: none;
}

.article-tag {
    text-align: center;
    line-height: 20px;
    margin: 20px;
}

span.label {
    display: inline-block;
    font-size: 90%;
}

span.label a {
    color: #fff;
}

.panel-box {
    padding: 10px 10px
}
.panel-box ul li a {
    color: #000!important;
}
.abh_tabs {
    list-style: none !important;
    width: 100% !important;
    padding: 5px 0px 1px 0px !important;
    margin: 0px 0px 0px 0px !important;
    font: 13px arial !important;
    border-bottom: 1px solid #ccc !important;
}
.abh_tabs li {
    list-style: none !important;
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
}
.abh_tabs li a {
    color: #333 !important;
    background-color: transparent !important;
    border: 0px solid #ccc !important;
    padding: 4px 10px 5px !important;
    text-decoration: none !important;
    border-bottom: none !important;
    outline: none !important;
    font-size: 100% !important;
    line-height: 23px !important;
}
.abh_tabs li.active a {
    color: #333 !important;
    background-color: #eeeeee !important;
    border-bottom: 1px solid #fff !important;
    padding: 4px 10px 5px 10px !important;
    border-bottom: none !important;
}
.nav-tabs {
    border: none;
}

.nav-tabs>li>a {
    margin-right: 8px;
    border: none;
    border-radius: 5px;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover .nav-tabs>li>a {
    padding: 1rem;
    background: #e74c3c;
    color: #fff!important;
    border-radius: 5px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #e74c3c;
    border: none;
}

.tab-pane {
    padding: 10px 5px;
}

.article-content blockquote {
    border-left-color: #1b809e;
    padding: 20px;
    margin: 20px 0;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}


/*Comments*/

#comments {
    background: #fff;
    padding: 2rem;
    margin-bottom: 3rem;
}

.panel.toggled .comment-list {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.post-title {
    margin: 0;
    display: inline-block;
}

.comment-list{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}
.comment-list li{
    display: inline-block;
    margin: .5rem;
}
.comment-author{
    display: inherit;
}
.comment-author span img.avatar{
    border-radius: 50%;
    float: left;
}
.comment-author cite.fn {
    font-style: normal;
    margin-left: .8rem;
    font-size: 16px;
    font-weight:bold;
}
.comment-meta{
    margin-left: 5rem;
    margin-top: -2rem;
}
.comment-content{
    margin-left: 5rem;
}
.comment-reply{
    display: inherit;
}
.cancel-comment-reply{
    display: inherit;
}
.hidden {
    max-height: 0;
    overflow: hidden;
    width: 100%;
}

/*Sidaber*/

.panel {
    border-color: #d3e0e9;
    transition: all .5s;
}

.search-form {
    margin: 0;
}

.panel-close {
    float: right;
    margin: 4px 0px 0px 5px;
    cursor: pointer;
}

.panel-toggle {
    float: right;
    margin: 4px 0px 0px 5px;
    cursor: pointer;
}

.panel.toggled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.author-avatar .avatar {
    margin-right: .8rem;
}


/*Footer*/

.text-muted {
    color: #818a91;
    padding: 3rem;
    background: #fff;
}

.page-nav {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.page-nav ol,
.page-nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-nav .current {
    background-color: #fff;
    color: #fff;
}

.page-nav ol li {
    display: inline-block;
    margin-left: 3px;
    width: 33px;
    text-align: center;
    color: #5990de;
    background-color: #fff;
    font-weight: 500;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.page-nav ol li:hover {
    background-color: #fff;
    color: #fff;
}

.page-nav ol li a {
    padding: 0 11px;
}

.list-group-item {
    border: none;
}

.list-group-item:last-child {
    border-bottom: 1px solid #ddd;
}

.badge {
    background-color: #F33838;
}

.widget-list {
    padding: 0;
    list-style: none;
}
/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-blue {
    background-position: -120px 0;
}
    .iradio_square-blue.hover {
        background-position: -144px 0;
    }
    .iradio_square-blue.checked {
        background-position: -168px 0;
    }
    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(../images/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
